<div class="container">
    <div class="jumbotron">
      <div class="row">    
        <div class="col-sm-5 book">          
          <img class="image" src= <%= @result %>>
        </div>
        
        <div class="col-sm-7 book">  
           
           <p><%= @post.content %></p>
           <p><a href='/b'>一覧に戻る</a> |
           
           <% if @session == @post.user_name then %>
                <a href='/edit/<%= @post.id %>'>編集</a> |
                <a href='/destroy/<%= @post.id %>'>削除</a>
           <% end %>
              
       </div> 
      
          <p class="author" style="margin-left:100px;margin-top:10px;"><%= @post.title %></p>
            </div>
          </div>
      </div>
   </div>
      <div class="row">
        <div class="col-sm-6">
          <button type="button" type="submit" class="btn btn-outline-primary d-none" style="margin-left:460px;margin-top:10px; padding-bottom:10px;transform:scale(1.5)">投稿する</button>
        </div>
      </div>