<style type="text/css">
.size　{
height:100%%;
}


</style>



<div class="container">
    <div class="jumbotron jumbotron-extend"　>
      <div class="row">    
        <div class="col-sm-5 book">          
          <img style="height:400px; margin-left:50px" class="image" src= <%= @post.img_url %>>
        </div>
        
        <div class="col-sm-7 book">  
           
           <p class="size" style="font-size:120%;"><%= @post.content %></p>
           <p><a href='/b'>一覧に戻る</a> |
           
           <% if @session == @post.user_name then %>
                <a href='/edit/<%= @post.id %>'>編集</a> |
                <a href='/destroy/<%= @post.id %>'>削除</a>
           <% end %>
              
       </div> 
      
          <p class="author" style="margin-left:100px;margin-top:10px;margin-left:110px;font-size:150%;font-weight: bold;"><%= @post.title %></p>
            </div>
          </div>
      </div>
   </div>
      <div class="row">
        <div class="col-sm-6">
          <button type="button" type="submit" class="btn btn-outline-primary d-none" style="margin-left:460px;margin-top:10px; padding-bottom:10px;transform:scale(1.5)">投稿する</button>
        </div>
      </div>